{:paths ["src" "resources"]
 :tasks
 {
  optimistic
{:doc "Generate the Gesso Live browser runtime."
 :task
 (shell "clojure"
        "-M:dev"
        "-m" "cljs.main"
        "-O" "advanced"
        "-co" "{:output-dir \"target/gesso-live-cljs\"}"
        "-o" "resources/public/js/gesso-live.js"
        "-c" "gesso.live.browser.core")}

  themes
  (do
    (println "running themes task")
    ((requiring-resolve 'gesso.build.themes/build!)
     {:input-dir "resources/themes"
      :output-file "resources/public/gesso/themes.css"})
    (println "done"))}}
